@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BOOKSTORENEW.Web.Models.Entities.Book>
<h1>Books</h1>
<table class="table">
    <thead>
           <tr>

               <th>BookId</th>
               <th>BookTitle</th>
               <th>AuthorName</th>
               <th>ISBN</th>
               <th>PublishedDate</th>
               <th>Price</th>
           </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.BookId  </td>
                <td>@book.BookTitle</td>
                <td>@book.AuthorName</td>
                <td>@book.ISBN</td>
                <td>@book.PublishedDate</td>
                <td>@book.Price</td>
                <td>
                <a class="btn btn-primary" asp-controller="Books" asp-action="Edit"asp-route-id="@book.BookId">Edit</a>
                </td>
            </tr>
            
        }
    </tbody>


</table>